<a href="https://colab.research.google.com/github/fcohenriquez/torpedo_py/blob/main/torpedo_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Torpedo para trabajar datos con Python**

En este cuaderno se deja un torpedo con comandos utiles para trabajar principalmente bases de datos con python.
Primero se importan las principales librerias con las que se trabaja (pandas y numpy). Tambien se carga un par de datasets donde probar los ejemplos que se entregan (data de pydataset)

In [ ]:
pip install pydataset

Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     |████████████████████████████████| 15.9 MB 303 kB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pydataset) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939432 sha256=46adb0e67baf9bbe0ec92e00c2f6445286fab53586b5d7c61ee10c5f139ca365
  Stored in directory: /root/.cache/pip/wheels/32/26/30/d71562a19eed948eaada9a61b4d722fa358657a3bfb5d151e2
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

In [ ]:
from pydataset import data
import pandas as pd
import numpy as np
print('setup ok')

initiated datasets repo at: /root/.pydataset/
setup ok

se cargan las bd iris y mtcars para ser trabajada como DF de pandas

In [ ]:
iris=data('iris')
mtcars = data('mtcars')

In [ ]:
# Tamaño del DF
print(len(iris))
print(len(mtcars))

150
32

## Configuracion de python

In [ ]:
'''

No ejecutar esta parte

# Fijar directorio
import os
os.chdir("D:/francisco.henriquez/Mis documentos/proyectos/asignacion_teorica/anlisis_2019")



#modificar opciones de display

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
'''

## Objetos de Python

### Listas

In [ ]:
# Lista vacia

vacia=[]
print(vacia)

# Listas de elementos repetidos

x=[True]*5
print(x)

# agregar elemento a una lista
x=[1,2,3]
print (x)
x.append(99)
x.append([4,5])
print(x)

# Sumar los elementos de mas de una lista
y=[10,11,12,15]
x1=x+y
print(x1)

# Llamar a un elemento de una lista
print(x[0])
print(x[-1])

# Copiar una lista
y=x.copy()
print(y)

# Invertir lista
y.reverse()
print(y)

# Quitar y entregar un elemento de una lista
z=y.pop(0)
print(z)
print(y)

# ordenar elementos de una lista
y.sort()
print(y)

# una serie de numeros

c=list(range(6))
print(c)

c=list(range(3,10,2))
print(c)

#los string pueden ser considerados como listas
s="hola"
print(s)
print(s[1])

# quitar duplicados de una lista. Los set no pueden contener elemntos duplicados

d=[2,2,1,3,4,6,8,6,4]
print(d)
d=list(set(d))
print(d)


# Multiplicar o sumar todos los elementos de una lista por un escalar

import numpy as np

m=[1,2,3,4]
m2=list(np.array(m)*3)
ms2=list(np.array(m)+3)
m3=[i*3 for i in m]
ms3=[i+3 for i in m]
print(m,m2, m3, ms2, ms3)


# https://docs.python.org/es/3/tutorial/datastructures.html


#https://note.nkmk.me/en/python-list-clear-pop-remove-del/
#https://note.nkmk.me/en/python-list-select-replace/
# https://note.nkmk.me/en/python-list-comprehension/


# len(x) cuenta los elmentos de una lista x

# Funciones sobre strings

#https://docs.python.org/3/library/stdtypes.html#string-methods

# s.count(x) cuenta las apariciones de x en s
# s.find(x) retorna la posicion de x en s
# s.replace(x,y) reemplaza x por y en el string s
# s.upper() transforma todos los carateres del string a mayuscula
# s.lower() transforma todos los carateres del string a minuscula
# s.strip() remueve los espacios y otros similares al comienzo y final del string
# s.split(",") divide el string s por , y convierte los elementos en una lista
# s.isalpha() verifica si el string s contiene únicamente caracteres alfabéticos (letras) y no está vacía.
# s.isalnum() verifica si el string s contiene únicamente caracteres alfanumericos y no está vacía.
# c.isdecimal(), c.isdigit(), or c.isnumeric() son parecidos
# s.endswith('e')

#Funciones generales
# l[i:j] entrega los elementos entre i y j-1 de la lista l

# l.remove(x) elimina el primer elemento x de la lista l
# l.pop(x) elimina el elemento en la posicion x de la lista l y mantener ese valor (y=l.pop(x))- pop() elimina el ultimo elemento
# l.clear() elimina todos los elementos de la lista l
# con del l[i:j] se puede eliminar slices. l[:] es equivalente a l.clear()
# l.append(x) agrega el elemento x a la lista l
# l.extend(m) Agrega los elementos de la lista m al final de la lista l. Equivalente a [1,2]+[3,4]
# l.count(x) cuenta la veces que aparece el elmento x en l
# l.index(x) Retorna el índice de la primera vez que el  elemento x se encuentra dentro de l. Sino se  encuentra, genera un error
# l.sot() ordena los elementos de l
# del(l[n]) Elimina el elemento 0 de la lista l
# l.split("#") igual que strings
# B=A[:] B es un clon de A, pero que no es la misma (no tiene pointer)
# l.count(x) cuenta el numero de veces que x aparece en l

# Iterar ebn lista
# for i in lista:  Itera sobre los elementos en lista

# list comprehension
# [expression for variable_name in iterable if condition]
# l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# evens = [i for i in l if i % 2 == 0]
#[(X if condition else Y) for variable_name in original_list]
# l_sub = [i2 - i1 for i1, i2 in zip(l_int1, l_int2)] Con zip se puede hacer operaciones con multiples listas

[]
[True, True, True, True, True]
[1, 2, 3]
[1, 2, 3, 99, [4, 5]]
[1, 2, 3, 99, [4, 5], 10, 11, 12, 15]
1
[4, 5]
[1, 2, 3, 99, [4, 5]]
[[4, 5], 99, 3, 2, 1]
[4, 5]
[99, 3, 2, 1]
[1, 2, 3, 99]
[0, 1, 2, 3, 4, 5]
[3, 5, 7, 9]
hola
o
[2, 2, 1, 3, 4, 6, 8, 6, 4]
[1, 2, 3, 4, 6, 8]
[1, 2, 3, 4] [3, 6, 9, 12] [3, 6, 9, 12] [4, 5, 6, 7] [4, 5, 6, 7]

####lambda, map, filter, reduce, zip

In [ ]:
# lambda es una fuuncion anonima que usa multiples parametros y una unica expresion
add=lambda a,b,c: print(a+b+c)
print(add(4, 5, 1))

# Map aplica una función a cada uno de los elementos de una lista
x=[1,2,3,4,5]

def cuadrado(i):
  return(i**2)

x2=list(map(cuadrado, x))

x3=list(map(lambda i:i**3, x))

print(x, x2, x3)

# filter  filtra una lista de elementos para los que una función devuelve True

valores = [1, 2, 3, 4, 5, 6, 7, 8, 9]
pares = list(filter(lambda x : x % 2 == 0, valores))
print(valores, pares)

# reduce se utiliza para llevar a cabo un cálculo acumulativo sobre una lista de valores y devolver el resultado.

from functools import reduce

seq=[2,3,4,5,6]
multiply=reduce(lambda a,b:a*b,seq)
print(seq, multiply)


# zip devuelve un conjuto de n tuplas que toman combinan los n elementos de las listas que se le entrega


name = ["Manjeet", "Nikhil", "Shambhavi"]
roll_no = [4, 1, 3]
marks = [40, 50, 60]

mapped = zip(name, roll_no, marks)

print(list(mapped))


name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [[40,34], 50, 60]

mapped = zip(name, marks)

print(dict(mapped))

# https://j2logo.com/python/funciones-lambda-en-python/

10
None
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25] [1, 8, 27, 64, 125]
[1, 2, 3, 4, 5, 6, 7, 8, 9] [2, 4, 6, 8]
[2, 3, 4, 5, 6] 720
[('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60)]
{'Manjeet': [40, 34], 'Nikhil': 50, 'Shambhavi': 60}

###Diccionarios

In [ ]:
# Diccionarios

###Iteraciones

In [ ]:

# For loops
for e in [1,2,3]:
    print(e+5)

for _ in range(10):
  print(_)

print([a*10 for a in range(20)])

diccionario = {"a": 1, "b": 2, "c": 3}
conjunto = {"A", "B", "C", "D"}
rango = range(100, 110)
for clave in diccionario:
    print(clave)
for elemento in conjunto:
    print(elemento)
for numero in rango:
    print(numero)


# While
n=0
while n <6:
  print(n)
  n += 1

6
7
8
0
1
2
3
4
5
6
7
8
9
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190]
a
b
c
B
D
C
A
100
101
102
103
104
105
106
107
108
109
0
1
2
3
4
5

### Operadores

In [ ]:
+
-
*
/
// division entera
% resto de la division

** exponente

()
==
>
<
>=
<=
!=

~ not
| or
^ xor (o exclusivo)
& and

+=, -=, *=, /= ,%=, //=, **=, &=, |=, ^=

is retorna True si dos elementos apuntan al mismo objeto
is not

in retorna True si el valor/varuable esta en la secuencia
not in

In [ ]:
a=1
b=1
print('a b')
for _ in range(5):
  print(a, b)
  a+=2
  b*=2

a b
1 1
3 2
5 4
7 8
9 16

##Importar, generar y exportar DataFrames

### Importar dataframe

In [ ]:

# Importar datos

raw_df = pd.read_csv('https://storage.googleapis.com/download.tensorflow.org/data/creditcard.csv') # En este caso, se importa de una pagina web. Se puede importar del disco local en el que se esta trabajando

print(raw_df.head())

'''
df_herencia=pd.read_stata('DFL2_Herencia_2018.dta') # Importar datos de stata

roles_elim=pd.read_csv("excluidos_2017_sem2.txt", sep='|',
         dtype={'comuna_act':str, 'manzana':str, 'predio':str}, encoding='iso-8859-1')


pru=pd.read_excel('gk_5000.xlsx', sheet_name='muestra_2021',  engine='openpyxl')


#  importar con pd.read_parquet
pd.read_parquet('example_pa.parquet', engine='pyarrow', columns=[a,b,c])
# Importar en formato feather
pd.read_feather

'''

### Exportar dataframe

In [ ]:
'''
# Guardar y cargar en formato pickle

libro_socios_solo_finales.to_pickle('libro_socios_solo_finales.pkl')
mat_N_data =pd.read_pickle('datos_mat_N.pkl')

# Exportar a csv y excel

part_final.to_csv("part_final_py.csv", sep='\t', index=False)
df_vec_renta.to_excel("vectores_rta_nombres.xlsx", index=False)

#Multiples hojas o en la misma hoja, cambiando la celda start
writer = pd.ExcelWriter('resumen_ing_norenta.xlsx', engine='xlsxwriter')
res_agr.to_excel(writer, sheet_name='decil', index=True, startrow=1, startcol=1)
res_agr_tgc.to_excel(writer, sheet_name='tramo', index=True, startrow=1, startcol=1)
writer.save()

# Exportar en formato parquet

df.to_parquet('df.parquet.gzip', compression='gzip') # se puede indicar el tipo de compresion

# Exportar en formate feather
df.to_feather


'''

## Comandos para realizar exploracion inicial del DF

### Nombres y tipos de variables

In [ ]:
# nombre de columnas

print(list(mtcars.columns))

# Tipos de variables

print(mtcars.dtypes)

['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

###Head y tail

In [ ]:
# .head(n) muestra las primeras n filas del DF. Por defecto es n=5
iris.head(4)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa

In [ ]:
# .tail(n) muestra las ultimas n filas del DF. Por defecto es n=5
mtcars.tail()

                 mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
Lotus Europa    30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2
Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5     4
Ferrari Dino    19.7    6  145.0  175  3.62  2.770  15.5   0   1     5     6
Maserati Bora   15.0    8  301.0  335  3.54  3.570  14.6   0   1     5     8
Volvo 142E      21.4    4  121.0  109  4.11  2.780  18.6   1   1     4     2

### Tabla de frecuencia y tabulación cruzada

In [ ]:
# Tabla de frecuencia
print('una variable')
print(mtcars['cyl'].value_counts(sort=False)) # Para una variable
print('varias variables')
print(mtcars.groupby(['cyl', 'gear', 'carb'], as_index=False).size()) # Para varias variables simultaneamente

print('variable continuas')
print(iris['Sepal.Length'].value_counts(bins=3)) # Para variables continuas

una variable
4    11
6     7
8    14
Name: cyl, dtype: int64
varias variables
    cyl  gear  carb  size
0     4     3     1     1
1     4     4     1     4
2     4     4     2     4
3     4     5     2     2
4     6     3     1     2
5     6     4     4     4
6     6     5     6     1
7     8     3     2     4
8     8     3     3     3
9     8     3     4     5
10    8     5     4     1
11    8     5     8     1
variable continuas
(5.5, 6.7]      71
(4.295, 5.5]    59
(6.7, 7.9]      20
Name: Sepal.Length, dtype: int64

In [ ]:
# Tabulacion cruzada

print(pd.crosstab(mtcars['cyl'], mtcars['gear']))

gear   3  4  5
cyl
4      1  8  2
6      2  4  1
8     12  0  2

### Estadísticas descriptivas

In [ ]:
# Sumario de columnas

print(iris.describe())

perc=[0.01, 0.1, 0.9, 0.99] # Para personalizar los percentiles

print(iris.describe(percentiles =perc))


print(mtcars.dtypes)

print(iris.info())

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
1%         4.400000     2.200000      1.149000     0.100000
10%        4.800000     2.500000      1.400000     0.200000
50%        5.800000     3.000000      4.350000     1.300000
90%        6.900000     3.610000      5.800000     2.200000
99%        7.700000     4.151000      6.700000     2.500000
max        7.900000     4.400000      6.900000     2.500000
mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB
None

In [ ]:
# Para tener estadisticas descriptivas por una variable dada
mtcars.groupby('cyl')['hp'].describe()

     count        mean        std    min     25%    50%     75%    max
cyl
4     11.0   82.636364  20.934530   52.0   65.50   91.0   96.00  113.0
6      7.0  122.285714  24.260491  105.0  110.00  110.0  123.00  175.0
8     14.0  209.214286  50.976886  150.0  176.25  192.5  241.25  335.0

### Top n

In [ ]:
# Mostrar los n mayores y menores valores de una variable

print(mtcars.nlargest(5,'hp'))
print(iris.nsmallest(6,'Petal.Length'))

                    mpg  cyl   disp   hp  drat  ...   qsec  vs  am  gear  carb
Maserati Bora      15.0    8  301.0  335  3.54  ...  14.60   0   1     5     8
Ford Pantera L     15.8    8  351.0  264  4.22  ...  14.50   0   1     5     4
Duster 360         14.3    8  360.0  245  3.21  ...  15.84   0   0     3     4
Camaro Z28         13.3    8  350.0  245  3.73  ...  15.41   0   0     3     4
Chrysler Imperial  14.7    8  440.0  230  3.23  ...  17.42   0   0     3     4

[5 rows x 11 columns]
    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
23           4.6          3.6           1.0          0.2  setosa
14           4.3          3.0           1.1          0.1  setosa
15           5.8          4.0           1.2          0.2  setosa
36           5.0          3.2           1.2          0.2  setosa
3            4.7          3.2           1.3          0.2  setosa
17           5.4          3.9           1.3          0.4  setosa

## Modificacion de DataFrames
Aca se van a mostrar diferentes maneras de modificar los dataframes

### Renombrar Columnas

In [ ]:
# Renombrar columnas

iris1=iris.copy()
iris1.columns = ['Sepal_L',  'Sepal_W', 'Petal_L', 'Petal.W', 'Species'] # Se pueden cambiar todos los nombres de una columna
print(iris1.head())

iris1=iris1.rename(columns={'Sepal_L': 'Sepal.L', 'Sepal_W': 'Sepal.W'}) # Se pueden cambiar algunos
print(iris1.head())

   Sepal_L  Sepal_W  Petal_L  Petal.W Species
1      5.1      3.5      1.4      0.2  setosa
2      4.9      3.0      1.4      0.2  setosa
3      4.7      3.2      1.3      0.2  setosa
4      4.6      3.1      1.5      0.2  setosa
5      5.0      3.6      1.4      0.2  setosa
   Sepal.L  Sepal.W  Petal_L  Petal.W Species
1      5.1      3.5      1.4      0.2  setosa
2      4.9      3.0      1.4      0.2  setosa
3      4.7      3.2      1.3      0.2  setosa
4      4.6      3.1      1.5      0.2  setosa
5      5.0      3.6      1.4      0.2  setosa

### Reordenar Columnas

In [ ]:
# Reordenar columnas (stata order)

iris1=iris1[['Species', 'Petal_L', 'Petal.W', 'Sepal.L',  'Sepal.W' ]]

iris1 = iris1.loc[:, ['Species', 'Petal_L', 'Petal.W', 'Sepal.L',  'Sepal.W' ]] #ESto es mucho mas eficiente

print(iris1.head())

  Species  Petal_L  Petal.W  Sepal.L  Sepal.W
1  setosa      1.4      0.2      5.1      3.5
2  setosa      1.4      0.2      4.9      3.0
3  setosa      1.3      0.2      4.7      3.2
4  setosa      1.5      0.2      4.6      3.1
5  setosa      1.4      0.2      5.0      3.6

### Generacion de una Variable

In [ ]:
# Generacion de una variable
iris1['multi']=iris1['Sepal.L']*iris1['Sepal.W']
print(iris1.head())

  Species  Petal_L  Petal.W  Sepal.L  Sepal.W  multi
1  setosa      1.4      0.2      5.1      3.5  17.85
2  setosa      1.4      0.2      4.9      3.0  14.70
3  setosa      1.3      0.2      4.7      3.2  15.04
4  setosa      1.5      0.2      4.6      3.1  14.26
5  setosa      1.4      0.2      5.0      3.6  18.00

### Cambiar los valores de una columna sujeto a condicion

In [ ]:
# cambiar los valores de una columna sujeto a condicion

iris1['petalo_largo']=np.where(iris1['Sepal.L']>6,2,0) # Esta funcion es parecida a SI de excel
print(iris1['petalo_largo'].value_counts())

iris1.loc[iris1['Sepal.L']>6, 'petalo_largo'] = 1
print(iris1['petalo_largo'].value_counts())


iris1['tam_petalo']=np.select([ iris1['Sepal.L']<=5, (iris1['Sepal.L']>5) & (iris1['Sepal.L']<=6),
                                 iris1['Sepal.L']>6],
    [1,2 ,3],
    default=0
    ) # Se debe entregar una lista de condiciones y una lista de resultados para cada condicion
print(iris1['tam_petalo'].value_counts())
  # Para reemplazar con nulos
iris1['tam_petalo']=np.where(iris1['tam_petalo']==2, None, iris1['tam_petalo'])
print(iris1['tam_petalo'].value_counts())

print(iris1.head())

0    89
2    61
Name: petalo_largo, dtype: int64
0    89
1    61
Name: petalo_largo, dtype: int64
3    61
2    57
1    32
Name: tam_petalo, dtype: int64
3    61
1    32
Name: tam_petalo, dtype: int64
  Species  Petal_L  Petal.W  Sepal.L  Sepal.W  multi  petalo_largo tam_petalo
1  setosa      1.4      0.2      5.1      3.5  17.85             0       None
2  setosa      1.4      0.2      4.9      3.0  14.70             0          1
3  setosa      1.3      0.2      4.7      3.2  15.04             0          1
4  setosa      1.5      0.2      4.6      3.1  14.26             0          1
5  setosa      1.4      0.2      5.0      3.6  18.00             0          1

### Reemplazar Valores

In [ ]:
retiros.replace(0, np.nan, inplace=True)

# This differs from updating with .loc or .iloc, which require you to specify a location to update with some value.

###Contar y  Reemplazar valores nulos

In [ ]:
# Contar nulos

print(iris1.isnull().sum())

# Reemplazar valores nulos
iris1['tam_petalo']=iris1['tam_petalo'].fillna(2)
print(iris1['tam_petalo'].value_counts())

print(iris1.head())

Species          0
Petal_L          0
Petal.W          0
Sepal.L          0
Sepal.W          0
multi            0
petalo_largo     0
tam_petalo      57
dtype: int64
3    61
2    57
1    32
Name: tam_petalo, dtype: int64
  Species  Petal_L  Petal.W  Sepal.L  Sepal.W  multi  petalo_largo  tam_petalo
1  setosa      1.4      0.2      5.1      3.5  17.85             0           2
2  setosa      1.4      0.2      4.9      3.0  14.70             0           1
3  setosa      1.3      0.2      4.7      3.2  15.04             0           1
4  setosa      1.5      0.2      4.6      3.1  14.26             0           1
5  setosa      1.4      0.2      5.0      3.6  18.00             0           1

### Mantener Eliminar filas (registros) sujeto a condicion

In [ ]:
# Mantener Eliminar filas sujeto a condicion
mtcars1=mtcars.copy()

mtcars1=mtcars1[mtcars1['cyl']>4]
mtcars1=mtcars1.query('cyl==8 & hp>150')
# Se puede usar .query(cyl.notnull())
# para isin df.query('columna in @lista')

#Comando .isin
mtcars1=mtcars1[mtcars1['gear'].isin([4,5])]
#Que no este en la lista (usando ~)
mtcars1=mtcars1[~(mtcars1['gear'].isin([3]))]

DF = DF[:-1] # Borra la ultima fila

#Comando between
#res_p2=res_pers(datos_presu_0[datos_presu_0['vtas_anno'].between(2000, 4000, inclusive='right')])

### Eliminar columnas

In [ ]:
# Eliminar columnas

iris1 =iris1.drop(['petalo_largo', 'tam_petalo'], axis=1)
print(iris1.head())
iris1=iris1.drop(columns=['multi'])
print(iris1.head())

#pd.pop('columna') # se queda con la columa que se indica y la elimina del df
#cleaned_df.pop('Time')

  Species  Petal_L  Petal.W  Sepal.L  Sepal.W  multi
1  setosa      1.4      0.2      5.1      3.5  17.85
2  setosa      1.4      0.2      4.9      3.0  14.70
3  setosa      1.3      0.2      4.7      3.2  15.04
4  setosa      1.5      0.2      4.6      3.1  14.26
5  setosa      1.4      0.2      5.0      3.6  18.00
  Species  Petal_L  Petal.W  Sepal.L  Sepal.W
1  setosa      1.4      0.2      5.1      3.5
2  setosa      1.4      0.2      4.9      3.0
3  setosa      1.3      0.2      4.7      3.2
4  setosa      1.5      0.2      4.6      3.1
5  setosa      1.4      0.2      5.0      3.6

### Mantener columnas

In [ ]:
# Mantener columnas (Keep)

iris1=iris1[['Species', 'Petal_L', 'Petal.W']]
print(iris1.head())

  Species  Petal_L  Petal.W
1  setosa      1.4      0.2
2  setosa      1.4      0.2
3  setosa      1.3      0.2
4  setosa      1.5      0.2
5  setosa      1.4      0.2

### Ordenar por columnas

In [ ]:
# Ordenar por columnas (sort)


print(mtcars.sort_values(by=['hp', 'cyl']).head())

print(mtcars.sort_values(by=['hp', 'cyl'], ascending=[False, True]).head())

                 mpg  cyl   disp  hp  drat     wt   qsec  vs  am  gear  carb
Honda Civic     30.4    4   75.7  52  4.93  1.615  18.52   1   1     4     2
Merc 240D       24.4    4  146.7  62  3.69  3.190  20.00   1   0     4     2
Toyota Corolla  33.9    4   71.1  65  4.22  1.835  19.90   1   1     4     1
Fiat 128        32.4    4   78.7  66  4.08  2.200  19.47   1   1     4     1
Fiat X1-9       27.3    4   79.0  66  4.08  1.935  18.90   1   1     4     1
                    mpg  cyl   disp   hp  drat  ...   qsec  vs  am  gear  carb
Maserati Bora      15.0    8  301.0  335  3.54  ...  14.60   0   1     5     8
Ford Pantera L     15.8    8  351.0  264  4.22  ...  14.50   0   1     5     4
Duster 360         14.3    8  360.0  245  3.21  ...  15.84   0   0     3     4
Camaro Z28         13.3    8  350.0  245  3.73  ...  15.41   0   0     3     4
Chrysler Imperial  14.7    8  440.0  230  3.23  ...  17.42   0   0     3     4

[5 rows x 11 columns]

###Trabajar con duplicados

In [ ]:
# Trabajando con los duplicados (hay que generar bases con duplicados para poder trabajar aca)

# Eliminacion de duplicados Obtener valores unicos (select distinct)
'''
df=df.drop_duplicates()
df=df.unique()
'''

#Eliminar duplicados en una lista
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

# Mantener solo los duplicados

deduc_1924[deduc_1924[['at', 'contrut']].duplicated(keep=False)]
bd_rend['duplicado']=bd_rend['Rut'].duplicated(keep=False) # Esto crea una marca si esta duplicado

## Modificaciones avanzadas de DataFrames

###Agrupar por (groupby)

In [ ]:
# Collapse

print(mtcars.groupby(['cyl', 'carb'], as_index=False)[['disp', 'hp']].mean())

print(mtcars.groupby(['cyl'], as_index=False)[['disp', 'hp']].agg({'disp':['min', 'max'], 'hp':'sum'}))

'''
nunique es para count distinct
observed=True se debe usar cuando las variables son categoricas
'''

   cyl  carb    disp     hp
0    4     1   91.38   77.4
1    4     2  116.60   87.0
2    6     1  241.50  107.5
3    6     4  163.80  116.5
4    6     6  145.00  175.0
5    8     2  345.50  162.5
6    8     3  275.80  180.0
7    8     4  405.50  234.0
8    8     8  301.00  335.0
  cyl   disp           hp
         min    max   sum
0   4   71.1  146.7   909
1   6  145.0  258.0   856
2   8  275.8  472.0  2929

### Rerodenar (reshape)

In [ ]:
# Reshape long to wide
produc_1=data('Produc')[['state', 'year', 'gsp']]
print(produc_1.head())
produc_w=produc_1.pivot(index='state', columns='year', values='gsp')
produc_w=produc_w.reset_index()
print('\nlong to wide')
print(produc_w.head())
# Reshape wide to long
print('\nwide to long')
produc_w.columns=['state', 'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986' ]
produc_l=pd.wide_to_long(produc_w, ["Y"], i="state", j="year")
print(produc_l.head())

# Transponer DataFrames
print('\ntranspuesto')
print(produc_l.transpose())

     state  year    gsp
1  ALABAMA  1970  28418
2  ALABAMA  1971  29375
3  ALABAMA  1972  31303
4  ALABAMA  1973  33430
5  ALABAMA  1974  33749

long to wide
year       state    1970    1971    1972  ...    1983    1984    1985    1986
0        ALABAMA   28418   29375   31303  ...   42245   45118   46849   48409
1        ARIZONA   19288   21040   23289  ...   35963   40010   43350   46058
2       ARKANSAS   15392   16177   17702  ...   24415   26512   27159   28168
3     CALIFORNIA  263933  265600  281159  ...  390528  420525  444082  464550
4       COLORADO   25689   27341   29624  ...   46523   49332   50820   51781

[5 rows x 18 columns]

wide to long
                      Y
state      year
ALABAMA    1970   28418
ARIZONA    1970   19288
ARKANSAS   1970   15392
CALIFORNIA 1970  263933
COLORADO   1970   25689

transpuesto
state ALABAMA ARIZONA ARKANSAS  ... WEST_VIRGINIA WISCONSIN WYOMING
year     1970    1970     1970  ...          1986      1986    1986
Y       28418   19288    15392  ...         21705     70171   10870

[1 rows x 816 columns]

## Union de varios DataFrames

###Merge

In [ ]:
# Merge dfs


produc_1970=data('Produc')[data('Produc')['year']==1970][['state', 'gsp']]
produc_1970.columns=['state', 'gsp_1970']

produc_1986=data('Produc')[data('Produc')['year']==1986][['state', 'gsp']]
produc_1986.columns=['state', 'gsp_1986']

produc_1970_1986=produc_1970.merge(produc_1986, on=['state'], how='inner', indicator=True) # how puede ser inner, outer, left o right.  indicator =True genera una variable _merge que indica de dónde viene el dato.

print(produc_1970.head())
print(produc_1986.head())
print(produc_1970_1986.head())


# Merge para pandas series

#res_personas=pd.merge(res_p1.rename('p1'), res_p2.rename('p2'), right_index=True, left_index=True)
#res_personas=res_personas.merge(res_p3.rename('p3'), right_index=True, left_index=True)

         state  gsp_1970
1      ALABAMA     28418
18     ARIZONA     19288
35    ARKANSAS     15392
52  CALIFORNIA    263933
69    COLORADO     25689
         state  gsp_1986
17     ALABAMA     48409
34     ARIZONA     46058
51    ARKANSAS     28168
68  CALIFORNIA    464550
85    COLORADO     51781
        state  gsp_1970  gsp_1986 _merge
0     ALABAMA     28418     48409   both
1     ARIZONA     19288     46058   both
2    ARKANSAS     15392     28168   both
3  CALIFORNIA    263933    464550   both
4    COLORADO     25689     51781   both

In [ ]:
# Merge de 2 series

res_ent=round(bd_ent.query('AT2017Total<1e9 & improd_2018==0')['AT2017Total'].describe())
res_post=round(bd_post.query('AT2017Total<1e9 & improd_2018==0')['AT2017Total'].describe())


res=pd.merge(res_ent, res_post, right_index = True, left_index = True)

###Append

In [ ]:
# Append archivos

mtcars8=mtcars[mtcars.cyl==8]
mtcars6=mtcars[mtcars.cyl==6]
mtcars4=mtcars[mtcars.cyl==4]


mtcars864=pd.concat([mtcars4, mtcars6, mtcars8], ignore_index=True) # Para pegar myultiples DF

'\n df_padron=df_padron.append(pad_aux, ignore_index=True)\n\n\nres=res_g1.append([res_g2, res_g3], ignore_index=True) \n\n'

## Calculo de variables especiales

In [ ]:
# generacion de _n para distintos grupos

mtcars1=mtcars.copy()


mtcars1['n_acum'] = mtcars1.groupby('carb').cumcount() #Ojo que parte desde 0!!!!!

print(mtcars1.sort_values(by=['carb', 'n_acum']).head(10))

                    mpg  cyl   disp   hp  drat  ...  vs  am  gear  carb  n_acum
Datsun 710         22.8    4  108.0   93  3.85  ...   1   1     4     1       0
Hornet 4 Drive     21.4    6  258.0  110  3.08  ...   1   0     3     1       1
Valiant            18.1    6  225.0  105  2.76  ...   1   0     3     1       2
Fiat 128           32.4    4   78.7   66  4.08  ...   1   1     4     1       3
Toyota Corolla     33.9    4   71.1   65  4.22  ...   1   1     4     1       4
Toyota Corona      21.5    4  120.1   97  3.70  ...   1   0     3     1       5
Fiat X1-9          27.3    4   79.0   66  4.08  ...   1   1     4     1       6
Hornet Sportabout  18.7    8  360.0  175  3.15  ...   0   0     3     2       0
Merc 240D          24.4    4  146.7   62  3.69  ...   1   0     4     2       1
Merc 230           22.8    4  140.8   95  3.92  ...   1   0     4     2       2

[10 rows x 12 columns]

In [ ]:
# Asignacion de quantiles
iris1=iris.copy()
iris1['decil_sl']=pd.qcut(iris['Sepal.Length'],5, labels=False)
iris1['percentil_sl']=iris['Sepal.Length'].rank(pct=True) # Entrega el ranking en tanto por 1

from scipy import stats

iris1['percentil_sl1']=[stats.percentileofscore(iris['Sepal.Length'], a, 'rank') for a in iris['Sepal.Length']]

print(iris1.tail())
print(iris1['decil_sl'].value_counts(sort=False))

'''
pasando rank a percentiles enteros
datos_rep['decil']=np.select([datos_rep['perc2']*100<=a for a in list(range(10,110, 10))], list(range(1,11)), default=0)
datos_rep['percentil2']=np.select([datos_rep['perc2']*100<=a for a in list(range(1,101, 1))], list(range(1,101)), default=0)
'''

#https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.percentileofscore.html

     Sepal.Length  Sepal.Width  ...  percentil_sl  percentil_sl1
146           6.7          3.0  ...      0.843333      84.333333
147           6.3          2.5  ...      0.693333      69.333333
148           6.5          3.0  ...      0.786667      78.666667
149           6.2          3.4  ...      0.650000      65.000000
150           5.9          3.0  ...      0.546667      54.666667

[5 rows x 8 columns]
0    32
1    33
2    30
3    25
4    30
Name: decil_sl, dtype: int64

In [ ]:
# Ranking de una variable
iris1['rank_sl'] = iris['Sepal.Length'].rank(method='max', ascending=True)
print(iris1.sort_values(by=['Sepal.Length']).head())

# Si se quiere usar el ranking en sentido inverso, se debe usar la opcion ascending=False

    Sepal.Length  Sepal.Width  Petal.Length  ...  Species decil_sl  rank_sl
14           4.3          3.0           1.1  ...   setosa        0      1.0
43           4.4          3.2           1.3  ...   setosa        0      4.0
39           4.4          3.0           1.3  ...   setosa        0      4.0
9            4.4          2.9           1.4  ...   setosa        0      4.0
42           4.5          2.3           1.3  ...   setosa        0      5.0

[5 rows x 7 columns]

In [ ]:
# Sumar, Encontrar el maximo entre dos o mas variables
iris1['s_max']=iris1[['Sepal.Length', 'Sepal.Width']].max(axis=1)
iris1['s_sum']=iris1[['Sepal.Length', 'Sepal.Width']].sum(axis=1)
print(iris1.head())

'''
df['e'] = df[col_list].sum(axis=1)
df['f']=df.iloc[:,0:2].sum(axis=1)
df['g']=df.iloc[:,[0,1]].sum(axis=1)
df['h']=df.iloc[:,[0,3]].sum(axis=1)
df.sum(axis = 1, skipna = True)

'''

   Sepal.Length  Sepal.Width  Petal.Length  ...  rank_sl s_max  s_sum
1           5.1          3.5           1.4  ...     41.0   5.1    8.6
2           4.9          3.0           1.4  ...     22.0   4.9    7.9
3           4.7          3.2           1.3  ...     11.0   4.7    7.9
4           4.6          3.1           1.5  ...      9.0   4.6    7.7
5           5.0          3.6           1.4  ...     32.0   5.0    8.6

[5 rows x 9 columns]

In [ ]:
# Medias y sumas moviles

prod_california=data('Produc')[data('Produc')['state']=='CALIFORNIA'][['state', 'year', 'gsp']]

prod_california['gsp_mm3']=prod_california['gsp'].rolling(window=3).mean() # Media movil
prod_california['gsp_sm5']=prod_california['gsp'].rolling(window=5).sum() # Suma movil

print(prod_california.head(10))

         state  year     gsp        gsp_mm3    gsp_sm5
52  CALIFORNIA  1970  263933            NaN        NaN
53  CALIFORNIA  1971  265600            NaN        NaN
54  CALIFORNIA  1972  281159  270230.666667        NaN
55  CALIFORNIA  1973  293735  280164.666667        NaN
56  CALIFORNIA  1974  298408  291100.666667  1402835.0
57  CALIFORNIA  1975  304518  298887.000000  1443420.0
58  CALIFORNIA  1976  320160  307695.333333  1497980.0
59  CALIFORNIA  1977  338040  320906.000000  1554861.0
60  CALIFORNIA  1978  359603  339267.666667  1620729.0
61  CALIFORNIA  1979  374928  357523.666667  1697249.0

In [ ]:
# Usar valores de columnas rezagados y posterior

prod_california['gsp+1']=prod_california['gsp'].shift(1)
prod_california['gsp-1']=prod_california['gsp'].shift(-1)
print(prod_california.head())

         state  year     gsp        gsp_mm3    gsp_sm5     gsp+1     gsp-1
52  CALIFORNIA  1970  263933            NaN        NaN       NaN  265600.0
53  CALIFORNIA  1971  265600            NaN        NaN  263933.0  281159.0
54  CALIFORNIA  1972  281159  270230.666667        NaN  265600.0  293735.0
55  CALIFORNIA  1973  293735  280164.666667        NaN  281159.0  298408.0
56  CALIFORNIA  1974  298408  291100.666667  1402835.0  293735.0  304518.0

In [ ]:
# sumar una variables por otra y colocarla como una variable nueva

ppm_mes=ppm_mes.merge(ppm_mes.groupby('anno', as_index=False)['monto'].sum(), on='anno') # Manera engorrosa

ppm_mes['monto_tot']=ppm_mes['monto'].groupby(ppm_mes['anno']).transform('sum')



# Aca mas info de transform https://towardsdatascience.com/when-to-use-pandas-transform-function-df8861aa0dcf

In [ ]:
#Generar dummies

bd_2011=bd_2011.merge(pd.get_dummies(bd_2011['rubro_2010'], prefix='rubro'), left_index=True, right_index=True)

## Trabajar con variables de Texto

In [ ]:
movies=data('movies')

# cambiar variable a string

movies.year = movies.year.astype(str)

# cambiar variable a entero

movies.year = movies.year.astype('int64')

# Split una variable
movies1=movies[['title', 'year']]

movies1 =movies1.merge(movies1.title.str.split(pat=' ',n=3, expand=True), left_index=True, right_index=True)
movies1=movies1.rename(columns={0:'t1', 1:'t2', 2:'t3', 3: 't4'})
print(movies1.head())

# Buscar los casos que en una variable tienen un string

movies['horror']=movies['title'].str.contains('horror', case=False) # case es case sensitive
print('peliculas que contienen la palabra "horror"')
print(movies['horror'].value_counts())

movies2=movies[['title', 'year']]
# Reemplazar un string

movies2['title1']=movies2['title'].str.replace('Day', 'Dia')
print(movies2.head())

# obtener un pedazo de string
movies2['subtitle']=movies2['title'].str.slice(start=1, stop=-3)
print(movies2.head())


# Encontran donde empieza un string

DF_result['pru']=DF_result['nombre'].str.find('_alum', start=0)

# Para dividir una columna de texto

DF_result[['id1', 'id']]=DF_result['id0'].str.split('_', expand=True)

                      title  year       t1      t2         t3            t4
1                         $  1971        $    None       None          None
2         $1000 a Touchdown  1939    $1000       a  Touchdown          None
3    $21 a Day Once a Month  1941      $21       a        Day  Once a Month
4                   $40,000  1996  $40,000    None       None          None
5  $50,000 Climax Show, The  1975  $50,000  Climax      Show,           The
peliculas que contienen la palabra "horror"
False    58747
True        41
Name: horror, dtype: int64
                      title  year                    title1
1                         $  1971                         $
2         $1000 a Touchdown  1939         $1000 a Touchdown
3    $21 a Day Once a Month  1941    $21 a Dia Once a Month
4                   $40,000  1996                   $40,000
5  $50,000 Climax Show, The  1975  $50,000 Climax Show, The
                      title  ...              subtitle
1                         $  ...
2         $1000 a Touchdown  ...         1000 a Touchd
3    $21 a Day Once a Month  ...    21 a Day Once a Mo
4                   $40,000  ...                   40,
5  $50,000 Climax Show, The  ...  50,000 Climax Show,

[5 rows x 4 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Trabajar con variables de fecha

In [ ]:
# Crear variable de fecha
fallecidos['fecha']=pd.to_datetime(fallecidos['fecha'], format='%Y-%m-%d') # La variable a transformar debe ser de texto
# Condiciones usando fechas
fallecidos_tot=fallecidos_tot[fallecidos_tot['fecha']>='2020-08-01']

In [ ]:

'''
Falta hacer

# Cambiar string a date

dfl2_fecins_limp['fecha_insc']=pd.to_datetime(dfl2_fecins_limp['FEC_INS'], format='%d/%m/%Y', errors='coerce')
'''


'''
# Identificar feriados

from datetime import dateimport holidaysh_cl=holidays.CL()

date(2022, 6, 27) in h_cl



'''

##Trabajar con chunks


Los archivos csv se pueden trabajar en chunks para poder trabajar en el isco y no en la memoria

In [ ]:
# Primero se debe definir el tamaño de cada chunk (las filas que tiene)
chunksize = 100000  # Define el tamaño de los chunks

# Merge con chunks en disco

es_primer_chunk = True
with pd.read_csv('archivo_grande.csv', chunksize=chunksize) as reader:
    for chunk in reader:
        merged_chunk = pd.merge(chunk, df2, on='columna_clave')
        merged_chunk.to_csv('archivo_merged.csv', mode='a', header=es_primer_chunk, index=False)
        es_primer_chunk = False

#Groupby con chunks en memoria

# Crear un DataFrame vacío para acumular los resultados
resultados = pd.DataFrame()

# Leer el archivo CSV en chunks
for chunk in pd.read_csv('archivo_grande.csv', chunksize=chunksize):
    # Aplicar groupby en cada chunk
    chunk_grouped = chunk.groupby('columna_clave')['columna_valor'].sum().reset_index()

    # Acumular resultados
    if resultados.empty:
        resultados = chunk_grouped
    else:
        # Combinar resultados de los chunks
        resultados = pd.concat([resultados, chunk_grouped], ignore_index=True)

# Ahora se realiza un groupby final para sumar los valores que correspondan a la misma clave
resultados_finales = resultados.groupby('columna_clave')['columna_valor'].sum().reset_index()

## Manejo de listas

In [ ]:
#https://note.nkmk.me/en/python-list-clear-pop-remove-del/
#https://note.nkmk.me/en/python-list-select-replace/
# https://note.nkmk.me/en/python-list-comprehension/


# len(x) cuenta los elmentos de una lista x

# Funciones sobre strings

# s.count(x) cuenta las apariciones de x en s
# s.find(x) retorna la posicion de x en s
# s.replace(x,y) reemplaza x por y en el string s
# s.upper() transforma todos los carateres del string a mayuscula
# s.lower() transforma todos los carateres del string a minuscula
# s.strip() remueve los espacios y otros similares al comienzo y final del string
# s.split(",") divide el string s por , y convierte los elementos en una lista

# s.endswith('e')

#Funciones generales
# l[i:j] entrega los elementos entre i y j-1 de la lista l
# l.append(x) agrega el elemento x a la lista l
# l.remove(x) elimina el primer elemento x de la lista l
# l.pop(x) elimina el elemento en la posicion x de la lista l y mantener ese valor (y=l.pop(x))- pop() elimina el ultimo elemento
# l.clear() elimina todos los elementos de la lista l
# con del l[i:j] se puede eliminar slices. l[:] es equivalente a l.clear()
# l.extend(m) Agrega los elementos de la lista m al final de la lista l. Equivalente a [1,2]+[3,4]
# l.count(x) cuenta la veces que aparece el elmento x en l
# l.index(x) Retorna el índice de la primera vez que el  elemento x se encuentra dentro de l. Sino se  encuentra, genera un error
# l.sot() ordena los elementos de l

# Iterar ebn lista
# for i in lista:  Itera sobre los elementos en lista

# list comprehension
# [expression for variable_name in iterable if condition]
# l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# evens = [i for i in l if i % 2 == 0]
#[(X if condition else Y) for variable_name in original_list]
# l_sub = [i2 - i1 for i1, i2 in zip(l_int1, l_int2)] Con zip se puede hacer operaciones con multiples listas

[1, 2, 3, 4]

In [ ]:
def suma(x):
  l = len(x)
  if l == 0:
    return 0
  else:
    last = x.pop()
    print(last, x)
    return suma(x) + last

r=suma([1,2,3,4,5])
print(r)

5 [1, 2, 3, 4]
4 [1, 2, 3]
3 [1, 2]
2 [1]
1 []
15

##Herramientas Python

In [ ]:

#Esto finaliza la ejecucion del algoritmo
sys.exit("se finaliza el programa")

Esto es lo que tenia en un archivo

In [ ]:
# Objetos de python

largo=5
# Crear vector de 0s
np.zeros(largo)

array([0., 0., 0., 0., 0.])

In [ ]:
ejemplos=data()

print(list(ejemplos.title))

['Monthly Airline Passenger Numbers 1949-1960', 'Sales Data with Leading Indicator', 'Biochemical Oxygen Demand', 'Determination of Formaldehyde', 'Hair and Eye Color of Statistics Students', 'Effectiveness of Insect Sprays', 'Quarterly Earnings per Johnson & Johnson Share', 'Level of Lake Huron 1875-1972', 'Intercountry Life-Cycle Savings Data', 'Flow of the River Nile', 'Potency of Orchard Sprays', 'Results from an Experiment on Plant Growth', 'Reaction Velocity of an Enzymatic Reaction', 'Survival of passengers on the Titanic', 'The Effect of Vitamin C on Tooth Growth in Guinea Pigs', 'Student Admissions at UC Berkeley', 'Road Casualties in Great Britain 1969-84', 'UK Quarterly Gas Consumption', 'Accidental Deaths in the US 1973-1978', 'Violent Crime Rates by US State', "Lawyers' Ratings of State Judges in the US Superior Court", 'Personal Expenditure Data', 'Death Rates in Virginia (1940)', 'Internet Usage per Minute', "The World's Telephones", 'Passenger Miles on Commercial US Airlines, 1937-1960', 'New York Air Quality Measurements', "Anscombe's Quartet of 'Identical' Simple Linear Regressions", 'The Joyner-Boore Attenuation Data', 'The Chatterjee-Price Attitude Data', 'Quarterly Time Series of the Number of Australian Residents', 'Speed and Stopping Distances of Cars', 'Chicken Weights by Feed Type', 'Mauna Loa Atmospheric CO2 Concentration', "Student's 3000 Criminals Data", 'Yearly Numbers of Important Discoveries', 'Smoking, Alcohol and (O)esophageal Cancer', 'Conversion Rates of Euro Currencies', 'Old Faithful Geyser Data', "Freeny's Revenue Data", 'Infertility after Spontaneous and Induced Abortion', "Edgar Anderson's Iris Data", "Areas of the World's Major Landmasses", 'Luteinizing Hormone in Blood Samples', "Longley's Economic Regression Data", 'Annual Canadian Lynx trappings 1821-1934', 'Michelson Speed of Light Data', 'Motor Trend Car Road Tests', 'Average Yearly Temperatures in New Haven', 'Average Monthly Temperatures at Nottingham, 1920-1939', 'Classical N, P, K Factorial Experiment', 'Occupational Status of Fathers and their Sons', 'Annual Precipitation in US Cities', 'Quarterly Approval Ratings of US Presidents', 'Vapor Pressure of Mercury as a Function of Temperature', 'Locations of Earthquakes off Fiji', 'Random Numbers from Congruential Generator RANDU', 'Lengths of Major North American Rivers', 'Measurements on Petroleum Rock Samples', "Student's Sleep Data", "Brownlee's Stack Loss Plant Data", 'Monthly Sunspot Data, from 1749 to "Present"', 'Yearly Sunspot Data, 1700-1988', 'Monthly Sunspot Numbers, 1749-1983', 'Swiss Fertility and Socioeconomic Indicators (1888) Data', 'Yearly Treering Data, -6000-1979', 'Girth, Height and Volume for Black Cherry Trees', 'Populations Recorded by the US Census', "Topographic Information on Auckland's Maunga Whau Volcano", 'The Number of Breaks in Yarn during Weaving', 'Average Heights and Weights for American Women', 'Monthly Excess Returns', 'Delay in AIDS Reporting in England and Wales', 'Failures of Air-conditioning Equipment', 'Failures of Air-conditioning Equipment', 'Car Speeding and Warning Signs', 'Remission Times for Acute Myelogenous Leukaemia', 'Population of U.S. Cities', 'Spatial Location of Bramble Canes', 'Smoking Deaths Among Doctors', 'Calcium Uptake Data', 'Sugar-cane Disease Data', 'Simulated Manufacturing Process Data', 'Weight Data for Domestic Cats', 'Position of Muscle Caveolae', 'CD4 Counts for HIV-Positive Patients', 'Channing House Data', 'Population of U.S. Cities', 'Genetic Links to Left-handedness', 'Number of Flaws in Cloth', 'Carbon Monoxide Transfer', 'Dates of Coal Mining Disasters', "Darwin's Plant Height Differences", 'Cardiac Data for Domestic Dogs', "Incidence of Down's Syndrome in British Columbia", 'Behavioral and Plumage Characteristics of Hybrid Ducks', 'Counts of Balsam-fir Seedlings', 'Head Dimensions in Brothers', 'Acceleration Due to Gravity', 'Acceleration Due to Gravity', 'Failure Time of PET Film', 'Jura Quartzite Azimuths on Islay', 'Average Heights of the Rio Negro river at Manaus', 'Survival from Malignant Melanoma', 'Data from a Simulated Motorcycle Accident', 'Neurophysiological Point Process Data', 'Toxicity of Nitrofen in Aquatic Systems', 'Nodal Involvement in Prostate Cancer', 'Nuclear Power Station Construction Data', 'Neurotransmission in Guinea Pig Brains', 'Animal Survival Times', 'Pole Positions of New Caledonian Laterites', 'Cancer Remission and Cell Activity', 'Water Salinity and River Discharge', 'Survival of Rats after Radiation Doses', 'Tau Particle Decay Modes', 'Tuna Sighting Data', 'Urine Analysis Data', 'Australian Relative Wool Prices', 'data from Section 1.19', 'data from Section 1.9', 'data from Exercise 13.1, p418', 'data from Exercise 4.7, p122', 'data from Exercise 5.8, p147', 'data from Section 1.18', 'data from Section 1.14', 'data from Section 1.3', 'data from Exercise 7.7, p223', 'data from Section 1.5', 'data from Section 1.6', 'data from Section 1.16', 'data from Section 1.2', 'data from Exercise 7.6, p222', 'data from Section 1.10', 'data from Section 1.4', 'Data on 38 individuals using a kidney dialysis machine', 'data from Section 1.7', 'data from Section 1.8', 'data from Exercise 4.4, p120', 'data from Section 1.13', 'data from Section 1.15', 'data from Exercise 7.13, p225', 'data from Section 1.12', 'data from Exercise 5.6, p146', 'data from Section 1.11', 'data from Exercise 7.14, p225', 'Brain and Body Weights for 65 Species of Land Animals', "Crohn's Disease Adverse Events Data", 'NOx Air Pollution Data', "Siegel's Exact Fit Example Data", 'Aircraft Data', 'Air Quality Data', 'Alcohol Solubility in Water Data', 'Daily Means of NOx (mono-nitrogen oxides) in air', 'Campbell Bushfire Data', 'Insect Damages on Carrots', 'Cloud point of a Liquid', 'Coleman Data Set', 'Condroz Data', 'Cushny and Peebles Prolongation of Sleep Data', 'Delivery Time Data', 'Education Expenditure Data', 'Epilepsy Attacks Data Set', 'Example Data of Antille and May - for Simple Regression', 'Food Stamp Program Participation', "Hawkins, Bradu, Kass's Artificial Data", 'Heart Catherization Data', 'Waterflow Measurements of Kootenay River in Libby and Newgate', 'Lactic Acid Concentration Measurement Data', "Daudin's Milk Composition Data", 'Pension Funds Data', 'Phosphorus Content Data', 'Pilot-Plant Data', 'Possum Diversity Data', 'Pulp Fiber and Paper Data', 'Satellite Radar Image Data from near Munich', 'Salinity Data', 'Hertzsprung-Russell Diagram Data of Star Cluster CYG OB1', 'Number of International Calls from Belgium', 'Toxicity of Carboxylic Acids Data', 'Vaso Constriction Skin Data Set', "Wagner's Hannover Employment Growth Data", 'Modified Data on Wood Specific Gravity', 'American Math Society Survey Data', 'Experimenter Expectations', 'Moral Integration of American Cities', 'U. S. State Public-School Expenditures', 'Methods of Teaching Reading Comprehension', "Canadian Women's Labour-Force Participation", 'Exercise Histories of Eating-Disordered and Control Subjects', 'Fraudulent Data on IQs of Twins Raised Apart', 'Canadian Population Data', 'Voting Intentions in the 1988 Chilean Plebiscite', 'The 1907 Romanian Peasant Rebellion', "Cowles and Davis's Data on Volunteering", 'Self-Reports of Height and Weight', "Davis's Data on Drive for Thinness", 'Minnesota Wolf Depredation Data', "Duncan's Occupational Prestige Data", 'The 1980 U.S. Census Undercount', 'Florida County Voting', 'Crowding and Crime in U. S. Metropolitan Areas', 'Format Effects on Recall', 'Data on Depression', 'Refugee Appeals', 'Anonymity and Cooperation', 'Canadian Crime-Rates Time Series', 'Highway Accidents', 'Data on Infant-Mortality', 'Contrived Collinear Data', 'Canadian Interprovincial Migration Data', 'Status, Authoritarianism, and Conformity', "U.S. Women's Labor-Force Participation", "O'Brien and Kaiser's Repeated-Measures Data", 'Interlocking Directorates Among Major Canadian Firms', 'Chemical Composition of Pottery', 'Prestige of Canadian Occupations', 'Four Regression Datasets', 'Fertility and Contraception', 'Survey of Labour and Income Dynamics', 'Agricultural Production in Mazulu Village', 'Salaries for Professors', 'Soil Compositions of Physical and Chemical Characteristics', 'Education and Related Statistics for the U.S. States', 'Transaction data', 'GDP and Infant Mortality', 'Population of the United States', 'Vocabulary and Education', 'Weight Loss Data', "Canadian Women's Labour-Force Participation", 'Wool data', 'European Union Agricultural Workforces', 'Attributes of Animals', 'Subset of C-horizon of Kola Data', 'Flower Characteristics', 'Plant Species Traits Data', 'Isotopic Composition Plutonium Batches', 'Ruspini Data', 'Votes for Republican Candidate in Presidential Elections', 'Bivariate Data Set with 3 Clusters', 'affairs', 'azcabgptca', 'azdrg112', 'azpro', 'azprocedure', 'badhealth', 'fasttrakg', 'fishing', 'lbw', 'lbwgrp', 'loomis', 'mdvis', 'medpar', 'nuts', 'rwm', 'rwm1984', 'rwm5yr', 'ships', 'smoking', 'titanic', 'titanicgrp', 'Ship Accidents', 'Cost for U.S. Airlines', 'Air Quality for Californian Metropolitan Areas', 'Unemployement of Blue Collar Workers', 'Bids Received By U.S. Firms', 'Budget Share of Food for Spanish Households', 'Budget Shares for Italian Households', 'Budget Shares of British Households', 'Wages in Belgium', 'Earnings from the Current Population Survey', 'Growth of CRAN', 'Stock Market Data', 'Stated Preferences for Car Choice', 'The California Test Score Data Set', 'Choice of Brand for Catsup', 'Cigarette Consumption', 'The Cigarette Consumption Panel Data Set', "Sales Data of Men's Fashion Stores", 'Prices of Personal Computers', 'Choice of Brand for Crakers', 'Crime in North Carolina', 'DM Dollar Exchange Rate', "Pricing the C's of Diamond Stones", 'Number of Doctor Visits', 'Doctor Visits in Australia', 'Contacts With Medical Doctor', 'Earnings for Three Age Groups', 'Cost Function for Electricity Producers', 'Extramarital Affairs Data', 'Drunk Driving Laws and Traffic Deaths', 'Choice of Fishing Mode', 'Exchange Rates of US Dollar Against Other Currencies', 'Data from the Television Game Show Friend Or Foe ?', 'Daily Observations on Exchange Rates of the US Dollar Against Other Currencies', 'Gasoline Consumption', 'Wage Datas', 'Grunfeld Investment Data', 'Heating and Cooling System Choice in Newly Built Houses in California', 'Health Insurance and Hours Worked By Wives', 'The Boston HDMA Data Set', 'Heating System Choice in California Houses', 'Hedonic Prices of Cencus Tracts in Boston', 'Sales Prices of Houses in the City of Windsor', 'Ice Cream Consumption', 'Economic Journals Dat Set', 'Willingness to Pay for the Preservation of the Kakadu National Park', 'Choice of Brand for Ketchup', "Klein's Model I", 'Wages and Hours Worked', 'Belgian Firms', 'The Massashusets Test Score Data Set', 'Wages and Education of Young Males', 'Level of Calculus Attained for Students Taking Advanced Micro-economics', 'Structure of Demand for Medical Care', 'Production for SIC 33', 'Mode Choice', 'Data to Study Travel Mode Choice', "International Expansion of U.S. Mofa's (majority-owned Foreign Affiliates in Fire (finance, Insurance and Real Estate)", 'Labor Supply Data', 'Municipal Expenditure Data', 'Willingness to Pay for the Preservation of the Alentejo Natural Park', 'Cost Function for Electricity Producers, 1955', 'Visits to Physician Office', 'Oil Investment', 'Panel Survey of Income Dynamics', 'Labor Force Participation', 'Dynamic Relation Between Patents and R&D', 'Patents, R&D and Technological Spillovers for a Panel of Firms', 'Pound-dollar Exchange Rate', 'Us States Production', 'Return to Schooling', "Returns on Standard & Poor's 500 Index", 'Wages and Schooling', 'Visits to Lake Somerville', 'Effects on Learning of Small Class Sizes', 'Strike Duration Data', 'Strikes Duration', 'Number of Strikes in Us Manufacturing', 'The Penn Table', 'Households Tobacco Budget Share', 'Stated Preferences for Train Traveling', 'Statewide Data on Transportation Equipment Manufacturing', 'Evaluating Treatment Effect of Training on Earnings', 'Choice of Brand for Tuna', 'US Finance Industry Profits', 'Official Secrecy of the United States Government', 'Standard abbreviations for states of the United States', 'Number of Words in US Tax Law', 'Unemployment Duration', 'Unemployment Duration', 'Provision of University Teaching and Research', 'Medical Expenses in Viet-nam (household Level)', 'Medical Expenses in Viet-nam (individual Level)', 'Panel Datas of Individual Wages', 'Wages, Experience and Schooling', 'Wife Working Hours', 'Yen-dollar Exchange Rate', 'Choice of Brand for Yogurts', 'Countries in Banking Crises', 'Income Inequality in the US', 'Names with Character Set Problems', 'Political knowledge in the US and Europe', "A study of Parkinson's disease and APOE, LRRK2, SNCA makers", 'ALDH2 markers and Alcoholism', "APOE/APOC1 markers and Alzheimer's", 'Cystic fibrosis data', "Crohn's disease data", 'Friedreich Ataxia data', 'A case-control data involving four SNPs with missing genotype', 'The HLA data', 'An example data for Manhattan plot with annotation', 'An example pedigree data', 'An example pedigree', "A study of Parkinson's disease and MAO gene", 'Example data for ACEnucfam', 'An example data for Manhattan plot', "A study of Alzheimer's disease with eight SNPs and APOE", 'Prices of 50,000 round cut diamonds', 'US economic time series.', 'Midwest demographics.', 'Movie information and user ratings from IMDB.com.', 'Fuel economy data from 1999 and 2008 for 38 popular models of car', 'An updated and expanded version of the mammals sleep dataset.', 'Terms of 10 presidents from Eisenhower to Bush W.', 'Vector field of seal movements.', "Arbuthnot's data on male and female birth ratios in London from 1629-1710.", "Bowley's data on values of British and Irish trade, 1855-1899", "Cavendish's Determinations of the Density of the Earth", 'Chest measurements of 5738 Scottish Militiamen', 'Cushny-Peebles Data: Soporific Effects of Scopolamine Derivatives', 'Cushny-Peebles Data: Soporific Effects of Scopolamine Derivatives', "Edgeworth's counts of dactyls in Virgil's Aeneid", "Elderton and Pearson's (1910) data on drinking and wages", "Waite's data on Patterns in Fingerprints", "Galton's data on the heights of parents and their children", "Galton's data on the heights of parents and their children, by child", 'Data from A.-M. Guerry, "Essay on the Moral Statistics of France"', "W. Stanley Jevons' data on numerical discrimination", "van Langren's Data on Longitude Distance between Toledo and Rome", "van Langren's Data on Longitude Distance between Toledo and Rome", "Macdonell's Data on Height and Finger Length of Criminals, used by Gosset (1908)", "Macdonell's Data on Height and Finger Length of Criminals, used by Gosset (1908)", "Michelson's Determinations of the Velocity of Light", "Michelson's Determinations of the Velocity of Light", "Data from Minard's famous graphic map of Napoleon's march on Moscow", "Data from Minard's famous graphic map of Napoleon's march on Moscow", "Data from Minard's famous graphic map of Napoleon's march on Moscow", "Florence Nightingale's data on deaths from various causes in the Crimean War", 'Latitudes and Longitudes of 39 Points in 11 Old Maps', "Pearson and Lee's data on the heights of parents and children classified by gender", 'Polio Field Trials Data', "Parent-Duchatelet's time-series data on the number of prostitutes in Paris", 'Trial of the Pyx', 'Statistics of Deadly Quarrels', "John Snow's map and data on the 1854 London Cholera outbreak", "John Snow's map and data on the 1854 London Cholera outbreak", "John Snow's map and data on the 1854 London Cholera outbreak", "John Snow's map and data on the 1854 London Cholera outbreak", "Playfair's Data on Wages and the Price of Wheat", "Playfair's Data on Wages and the Price of Wheat", "Student's (1906) Yeast Cell Counts", "Student's (1906) Yeast Cell Counts", "Darwin's Heights of Cross- and Self-fertilized Zea May Pairs", 'Yield data from a Minnesota barley trial', 'Atmospheric environmental conditions in New York City', 'Engine exhaust fumes from burning ethanol', 'Melanoma skin cancer incidence', 'Heights of New York Choral Society singers', 'Australian AIDS Survival Data', 'Brain and Body Weights for 28 Species', 'Housing Values in Suburbs of Boston', 'Data from 93 Cars on Sale in the USA in 1993', "Diagnostic Tests on Patients with Cushing's Syndrome", 'DDT in Kale', 'Level of GAG in Urine of Children', 'Numbers of Car Insurance claims', 'Survival from Malignant Melanoma', 'Tests of Auditory Perception in Children with OME', 'Diabetes in Pima Indian Women', 'Diabetes in Pima Indian Women', 'Diabetes in Pima Indian Women', 'Blood Pressure in Rabbits', 'Accelerated Testing of Tyre Rubber', 'Returns of the Standard and Poors 500', 'Growth Curves for Sitka Spruce Trees in 1988', 'Growth Curves for Sitka Spruce Trees in 1989', 'AFM Compositions of Aphyric Skye Lavas', 'Effect of Swedish Speed Limits on Accidents', 'Nutritional and Marketing Information on US Cereals', 'The Effect of Punishment Regimes on Crime Rates', "Veteran's Administration Lung Cancer Trial", 'Determinations of Nickel Content', 'Accidental Deaths in the US 1973-1978', 'Anorexia Data on Weight Change', 'Presence of Bacteria after Drug Treatments', 'Body Temperature Series of Beaver 1', 'Body Temperature Series of Beaver 2', 'Biopsy Data on Breast Cancer Patients', 'Risk Factors Associated with Low Infant Birth Weight', 'Data from a cabbage field trial', 'Colours of Eyes and Hair of People in Caithness', 'Anatomical Data from Domestic Cats', 'Heat Evolved by Setting Cements', 'Copper in Wholemeal Flour', 'Co-operative Trial in Analytical Chemistry', 'Performance of Computer CPUs', 'Morphological Measurements on Leptograpsus Crabs', 'Monthly Deaths from Lung Diseases in the UK', 'Deaths of Car Drivers in Great Britain 1969-84', 'Foraging Ecology of Bald Eagles', 'Seizure Counts for Epileptics', 'Ecological Factors in Farm Management', 'Measurements of Forensic Glass Fragments', "Forbes' Data on Boiling Points in the Alps", 'Velocities for 82 Galaxies', 'Remission Times of Leukaemia Patients', 'Rat Genotype Data', 'Old Faithful Geyser Data', 'Line Transect of Soil in Gilgai Territory', 'Record Times in Scottish Hill Races', 'Frequency Table from a Copenhagen Housing Conditions Survey', 'Yields from a Barley Field Trial', 'Survival Times and White Blood Counts for Leukaemia Patients', 'Brain and Body Weights for 62 Species of Land Mammals', 'Data from a Simulated Motorcycle Accident', 'Age of Menarche in Warsaw', "Michelson's Speed of Light Data", 'Minnesota High School Graduates of 1938', 'Accelerated Life Testing of Motorettes', 'Effect of Calcium Chloride on Muscle Contraction in Rat Hearts', "Newcomb's Measurements of the Passage Time of Light", 'Eighth-Grade Pupils in the Netherlands', 'Classical N, P, K Factorial Experiment', 'US Naval Petroleum Reserve No. 1 data', 'Data from an Oats Field Trial', "The Painter's Data of de Piles", "N. L. Prater's Petrol Refinery Data", 'Absenteeism from School in Rural New South Wales', 'Road Accident Deaths in US States', 'Numbers of Rotifers by Fluid Density', 'Ships Damage Data', 'Percentage of Shrimp in Shrimp Cocktail', 'Space Shuttle Autolander Problem', 'Snail Mortality Data', 'The Saturated Steam Pressure Data', 'The Stormer Viscometer Data', 'Student Survey Data', 'Synthetic Classification Problem', 'Synthetic Classification Problem', 'Spatial Topographic Data', 'Counts of Waders at 15 Sites in South Africa', "House Insulation: Whiteside's Data", 'Weight Loss Data from an Obese Patient', 'Cigarette Consumption', 'Crime in North Carolina', 'Employment and Wages in the United Kingdom', 'Gasoline Consumption', "Grunfeld's Investment Data", 'Hedonic Prices of Census Tracts in the Boston Area', 'Wages and Hours Worked', 'Wages and Education of Young Males', 'US States Production', 'Em

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
except:
    # code to execute if ther is any exception
else:
    # code to execute if there is no exception
finally:
    # code to execute at the end of the try except no matter what

# code that will execute if there is no exception or a one that we are handling

In [ ]:
# https://docs.python.org/3/library/itertools.html
from itertools import cycle, repeat
from time import sleep

#for frame in cycle(r'-\|/-\|/'):
for frame in repeat(r'-\|/-\|/', 100):
    print('\r', frame, sep='', end='', flush=True)
    sleep(0.2)

-\|/-\|/

In [ ]:

from time import sleep

def progress(percent=0, width=30):
    left = width * percent // 100
    right = width - left
    print('\r[', '#' * left, ' ' * right, ']',
          f' {percent:.0f}%',
          sep='', end='', flush=True)

for i in range(101):
    progress(percent=i)
    sleep(0.1)

[##############################] 100%

In [ ]:
from time import sleep

def progre(i):
    print('\r', i, sep='', end='', flush=True)

for i in range(101):
    progre(str(i)+"%")
    sleep(0.25)

100%

###Itertools

In [ ]:
# https://docs.python.org/3/library/itertools.html
# https://blog.quantinsti.com/itertools/

import itertools as itt

print('iteradores infinitos\n')
#Count
print("count")
for _ in itt.count(10):
  print(str(_))
  if _>15:
    break

# cycle
print("\ncycle")
c=1
for _ in itt.cycle(r'-\|/-\|/'):
  print('\r', _, sep='', end='', flush=True)
  sleep(0.2)
  if c>30:
    break
  c+=1

# repeat
print('\n repeat')
for _ in repeat('ABC', 10):
  print(_)

iteradores infinitos

count
10
11
12
13
14
15
16

cycle
|
 repeat
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC

In [ ]:
# Importing libraries
import yfinance as yf
import pandas as pd

# Import Tesla data
tesla = yf.download('TSLA','2020-03-01', '2020-03-30')
tesla['daily_returns'] = tesla['Close'].pct_change()

[*********************100%%**********************]  1 of 1 completed

In [ ]:
import itertools as itt

print('Iteradores que terminan\n')
#accumulate
print('accumulate')
for _ in itt.accumulate([1,2,3,4,5]) :
  print(_, end=' ')
#batched
#print('\nbatched') # desde version 3.12
#for _ in itt.batched([1,2,3,4,5,6,7,8,9,10], 3) :
#  print(_)

stocks_NYSE = ['TSLA', 'MSFT', 'NVDA', 'GOOGL' , 'AAPL' , 'INTC']
stocks_NSE = ['HDFC', 'RELIANCE', 'INFY', 'ICICIBANK']

# Chain() itertool
print('\nchain')


result = itt.chain(stocks_NYSE, stocks_NSE)
for each in result:
    print(each, end=' ')

# Compress() itertool
print('\ncompress')
selections = [1,0,0,1,0,1]
result = itt.compress(stocks_NYSE, selections)
for each in result:
    print(each, end=' ')

#dropwhile
print('\ndropwhile')
for _ in itt.dropwhile(lambda x: x<5, [1,4,6,4,1]):
  print(_, end=' ')

#takewhile
print('\ntakewhile')
for _ in itt.takewhile(lambda x: x<5, [1,4,6,4,1]):
  print(_, end=' ')

# filterfalse
print('\nfilterfalse')
for _ in itt.filterfalse(lambda x: x%3, range(11)):
  print(_, end=' ')

# Islice() itertool
print('\nislice')
selection = itt.islice(stocks_NYSE, 0, 15,2)
for each in selection:
    print(each, end=' ')

Iteradores que terminan

accumulate
1 3 6 10 15
chain
TSLA MSFT NVDA GOOGL AAPL INTC HDFC RELIANCE INFY ICICIBANK
compress
TSLA GOOGL INTC
dropwhile
6 4 1
takewhile
1 4
filterfalse
0 3 6 9
islice
TSLA NVDA AAPL

###Logging

Permite hacer log dentro de la programacion

In [ ]:
import logging


logging.basicConfig(filename='mi_log.txt',
                    level=logging.INFO,
                    format='%(asctime)s - %(levelname)s - %(message)s',
                    datefmt='%Y-%m-%d %I:%M:%S %p',  # Formato de fecha y hora
                    filemode='a')  # 'a' para agregar al archivo


logging.info("Comienzo del procesamiento")

logging.warning("esto es un warning")

logging.info(bd_vector.head())

logging.info(bd_vector.describe())



logging.shutdown() # Para cerrar el archivo